* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

ol {
  padding: 20px;
}

.timer-bar {
  width: 100%;
  background-color: #dd1111;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;
}
