* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

ol {
  padding: 20px;
}

.timer-bar {
  width: 100%;
  background-color: #dd1111;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;
}

video {
  border: 1px solid white;
  width: 50vw;
}

footer {
  border: 1px solid white;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 150px;
  width: 100%;
  span {
    font-size: 1.6em;
    text-align: center;
    display: block;
  }
}
